ion-header
    box-shadow: none !important

.skeleton
    animation: skeleton-loading 1s linear infinite alternate

@keyframes skeleton-loading

    from
        background-color: hsl(0deg 0% 72.24%)
    to
        background-color: hsl(0deg 1.83% 36.41% / 74%)
