
@use '../../breakpoints'
.header_page
    display: flex
    flex-direction: column
    .title
        font-size: 1.6rem
        font-family: "Poppins_B"
        margin-bottom: 0.2rem
        @include breakpoints.break_XSM()
            font-size: 1.28rem
        .full_bar_title
            width: 100%
            height: 1.8rem
            border-radius: 0.2rem

    .subtitle
        font-size: 0.77rem
        color: #858585
        width: 95%
        @include breakpoints.break_XSM()
            font-size: 0.68rem
        .full_bar_subtitle
            width: 40%
            margin-top: 0.3rem
            height: 0.8rem
            border-radius: 0.2rem
.centered_padding
    width: 100%
    padding: 0 1rem
.page_content
    --padding-top: 0
    .content
        padding-top: 2rem
ion-back-button  
        margin-left: -0.77rem
