@use '../../../breakpoints'
.title_bar
    position: relative
    &::before
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 1rem
        height: 100%
        background: linear-gradient(90deg,var(--bg-color-body),var(--bg-color-body),transparent )
        z-index: 2
    &::after
        content: ""
        position: absolute
        right: 1rem
        top: 0
        width: 1rem
        height: 100%
        background: linear-gradient(90deg,transparent,var(--bg-color-body),var(--bg-color-body) )
        z-index: 2
    &::-webkit-scrollbar
        display: none
.filter_annonce
    overflow-x: scroll
    padding: 0.2rem 1rem 0.2rem 0.2rem
    display: flex
    width: auto
    &::-webkit-scrollbar
        display: none
    .chip
        max-width: 8rem
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        min-width: 5.3rem
        display: flex
        justify-content: center
        align-items: center
        @include breakpoints.break_XSM()
            min-width: 5.1rem
    ion-chip
        color: var(--color-chip)
        border: 1px solid var(--border-chip)
        max-width: 7rem
        background: var(--bg-chip)

    .active-chip
        color: var(--color-chip-on)
        background: var(--bg-chip-on)
        border-color: var(--border-chip-on)
    .loading_menu
        display: flex
        justify-content: center
        align-items: center
        margin-left: 0.5rem

.padding
    --padding-top: 1rem
    --padding-start: 1rem
.title_type
    font-family: "Salsa"
    font-weight: bolder
    font-size: 1.55rem
    letter-spacing: 0.045rem
    color: var(--text-bold-color)
    margin-left: 0.2rem
    margin-bottom: -2.4rem
    pointer-events: none
